[submodule ".\\MapMultiPlay-client\\socketio"]
	path = .\\MapMultiPlay-client\\socketio
	url = https://github.com/melode11/socket.io-clientpp.git
[submodule "sioclient"]
	path = sioclient
	url = https://github.com/melode11/sioclient.git
